body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
}

@media screen and (min-width: 481px) {

  body {
    max-width: 1080px;
    min-width: 900px;
    margin: 0 auto 0 auto;
    padding: 0;
  }

  #nav-pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px auto 20px auto;
    max-width: 960px;
}
  
  #nav-pc a {
    /* width: 300px; */
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 34px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
  }

  #title {
    border: 1px solid black;
  }

  .main-visual {
    width: 100%;
  }

  .index-h1 {
    margin: 100px auto 50px auto;
    text-align: center;
    font-size: 34px;
  }

  #about-contents {
    display: flex;
    justify-content: center;
  }

  #about-img {
    border-radius: 50%;
  }
  #introduction {
    margin-left: 100px;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 2000ms;
  }

  .fade-out.fade-in {
    opacity: 1.0;
  }
  
  .works-contents {
    /* list-style-type: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .item {
    width: 300px;
  }

  .item img {
    width: 300px;
  }

  #back-btn {
    display: none;
    padding: 35px 30px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 200px;
  }

  .modal-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
  }

  .big-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    max-width: 800%;
    margin: auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 40px;
    text-decoration: none;
  }

  footer {
    text-align: center;
    margin: 50px;
  }
}